.sharing a.share-pinterest,.sharing-hidden a.share-pinterest { background: url('images/pinterest.png') no-repeat center left; }
.sharing div.pinterest_button { padding-top: 4px; line-height: 16px; }
.sharing-hidden div.pinterest_button { padding: 0; }
